<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div id="freediv"></div>
    <div id="footerdiv">
        <div>
            <img src="img/delivery.png" alt="image" id="delivery">
            </div>
    <div id="footer">
    
    <h2>Get in touch</h2><br>
    <h3>pizzaexpress@india.com</h3>
    <h3>1800015646</h3>
    </div>
    <div id="footer">
    <h2>Connect</h2><br>
    <h3><a href="https://www.instagram.com/gupta_anirudh20/?hl=en">Instagram</a></h3>
    <h3><a href="https://www.linkedin.com/in/anirudh-gupta-329434221/">Linked</a></h3>
    </div>
    <div>
    <div id="footer">
    <h2> Address</h2><br>
    <h3>Near main post office,Rajouri</h3>
    <h3>Jammu & Kashmir 185131</h3>
    </div>
    </div>
    </div>
    
    <h3 id="copyright">&#169 Copyright 2022 PizzaExpress,India</h3>
<br>
<!-- <br> -->
    </footer>