<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link  rel="icon"href="img/pizza.png"/>
</head>
<body>
<nav class="constainer max-auto flex items-center justify-between">
    <div>
       <a href="/"> <img id="logo" src="/img/pizza.png"alt="logo"></a>
    </div>
    <div>
        <ul class="flex item-center ">
            <li class="ml-6"><a href="#">Menu</a></li>
            <li class="ml-6"><a href="#">Offers</a></li>
            <li class="ml-6"><a href="/register">Register</a></li>
            <li class="ml-6"><a href="/login">Login</a></li>
            <li class="ml-6"><a href="/cart"><img id="cart"src="/img/cart.png"></a></li>
        </ul>
    </div>
</nav>