<%- include("../partials/nav.ejs") %>
<link rel="stylesheet" href="css/orderemptycart.css">
<section class="empty-cart">
    <div class="container mx-auto text-center">
    <h1 class="text-3xl font-bold mb-2"> Cart Empty🤔</h1>
    <p class="paraempty">You probably haven't ordered a pizza yet.
      To order a pizza, go to the main page.</p>
      <div class="imgempty">
    <img id=imgempty src="img/empty-cart.png" alt="empty-cart">
    </div>
    <a href="/" class=" buttoncart inline-block px-6 py-2 rounded-full">Go Back</a>
    </div>
</section>
<section class="cart">
 <div class="order container mx-auto">
   <div class="order-div">
     <img src="img/ordercart.png" id="orderimg"alt="ordercart">
     <h1 id="order-h1">Order Summary</h1>
   </div>
   <hr>
   
   <div class="ordersum"> 
    <img src="img/pizzacart.png" alt="pizza" id="sumpizza">
    <h1>Vegies</h1>
    <span>MEDIUM</span>
  <span>1 Pcs</span>
  <span><b>&#8377 300</b></span>
 </div> 
 <div class="ordersum"> 
  <img src="img/pizzacart.png" alt="pizza" id="sumpizza">
  <h1>Vegies</h1>
  <span>MEDIUM</span>
<span>1 Pcs</span>
<span><b>&#8377 300</b></span>
</div> 

<div class="ordersum"> 
  <img src="img/pizzacart.png" alt="pizza" id="sumpizza">
  <h1>Vegies</h1>
  <span>MEDIUM</span>
<span>1 Pcs</span>
<span><b>&#8377 400</b></span>
</div> 
<div class="ordersum"> 
  <img src="img/pizzacart.png" alt="pizza" id="sumpizza">
  <h1>Vegies</h1>
  <span>MEDIUM</span>
<span>1 Pcs</span>
<span><b>&#8377 300</b></span>
</div> 
<hr>
<div class="total-div">
  <h2 id="total">Total Amount:</h2>
  <h1 id="price">&#8377 1000</h1>
</div>
<div class="form-order">
  <form action="">
    <input type="number" class="border border-gray-600 p-2 mb-4 w-1/2 " placeholder="PhoneNumber" id="phonenumer">
    <input type="address" class="border border-gray-600  mb-4 w-1/2   p-2 " placeholder="Address" id="address">
  </form>
</div>
 <div id="button-order">
  <button id="orderbutton"type="button">Order Now</button>
</div>
<div id="button-login">
<!-- <a href="/" class=" login px-6 py-2 rounded-full">Login to Continue</a> -->
</div>
</div>
</section>