<%- include("../partials/nav.ejs") %>
<link rel="stylesheet" href="css/orderemptycart.css">
<section class="empty-cart">
    <div class="container mx-auto text-center">
    <h1 class="text-3xl font-bold mb-2"> Cart Empty🤔</h1>
    <p class="paraempty">You probably haven't ordered a pizza yet.
      To order a pizza, go to the main page.</p>
      <div class="imgempty">
    <img id=imgempty src="img/empty-cart.png" alt="empty-cart">
    </div>
    <a href="/" class=" buttoncart inline-block px-6 py-2 rounded-full">Go Back</a>
    </div>
</section>
<br>
<br>
<br>
<%- include("../partials/footer.ejs") %>