<%- include("../partials/nav.ejs") %>
<link rel="stylesheet" href="css/login.css">

<section class="login-form">
<div class="login">
    <form action="#">
    <label id="label" for="username">Username</label><br>
     <input type="text"  id="username" placeholder="Username" required><br>
     <label id="label" for="password">Password</label><br>
     <input type="password" id="password" placeholder="Password"equired><br>
     <button id="login-button" type="submit">Log In</button>
    </form>
    <a href="/register" id="register-form"><h4>Don't have any account?</h4></a>
</div>
</section>