<%- include("../partials/nav.ejs") %>
<link rel="stylesheet" href="css/register.css">

<section class="login-form">
<div class="login">
    <form action="#">
    <label id="label" for="name">Name</label><br>
     <input type="text"  id="name" placeholder="Name" required><br>
     <label id="label" for="email">E-mail</label><br>
     <input type="email"  id="email" placeholder="E-mail" required><br>
     <label id="label" for="password">Password</label><br>
     <input type="password" id="password" placeholder="Password"equired><br>
     <button id="login-button" type="submit">Sign up</button>
    </form>
</div>
</section>