<%- include("./partials/authnav.ejs") %>
<link rel="stylesheet" href="/css/home.css">
<% if(success && success.length){ %>
    <div>
        <div class="bg-green-100 border-t border-b border-green-500 text-green-700 px-4 py-3" role="alert">
            <p class="font-bold"><%= success %></p>
          </div>
    </div>
<% } %> 
<section class="mid">
    <div class="constainer max-auto flex items-center justify-between">
    <div class="left">
     <h6 id="leftone"><em>Are you hungry ?</em></h6>
     <h1 id="lefttwo">What Are You Waiting For?</h1>
     <br>
     <br>
     <a id="midbutton"type="button" href="/login">Order Now</a>
    </div>
    <div class="right">
 <img class="pizzaimg"src="/img/pizzaphoto.png"alt="pizzaimage">

    </div>
</div>
</section>
 <script  src="/js/home.js" type="module"></script>   
</body>
<%- include("./partials/footer.ejs") %>

</html>