<%- include("./partials/nav.ejs") %>
<link rel="stylesheet" href="/css/home.css">
<section class="mid">
    <div class="constainer max-auto flex items-center justify-between">
    <div class="left">
     <h6 id="leftone"><em>Are you hungry ?</em></h6>
     <h1 id="lefttwo">Don't wait !</h1>
     <button id="midbutton"type="button">Order Now</button>
    </div>
    <div class="right">
 <img class="pizzaimg"src="/img/pizzaphoto.png"alt="pizzaimage">

    </div>
</div>
</section>
<section class="menu container mx-auto py-8">
<h1 class="text-xl font-bold md-8">All Pizza's</h1>
<section class="menuonly">
<div id="pizzas">
    <figure>
    <img src="/img/pizzacart.png" alt="pizza">
    </figure>
    <figcaption>
    <h4>Vegies pizza</h4>
    <h6>SMALL</h6>
</figcaption>
<h2 id="rate">&#8377 200</h2>
<button type="button" id="cartbutton">+ Add</button>
</div>

<div id="pizzas">
    <figure>
    <img src="/img/pizzacart.png" alt="pizza">
    </figure>
    <figcaption>
    <h4>Vegies pizza</h4>
    <h6>SMALL</h6>
</figcaption>
<h2 id="rate">&#8377 200</h2>
<button type="button" id="cartbutton">+ Add</button>
</div>

<div id="pizzas">
    <figure>
    <img src="/img/pizzacart.png" alt="pizza">
    </figure>
    <figcaption>
    <h4>Vegies pizza</h4>
    <h6>SMALL</h6>
</figcaption>
<h2 id="rate">&#8377 200</h2>
<button type="button" id="cartbutton">+ Add</button>
</div>

<div id="pizzas">
    <figure>
    <img src="/img/pizzacart.png" alt="pizza">
    </figure>
    <figcaption>
    <h4>Vegies pizza</h4>
    <h6>SMALL</h6>
</figcaption>
<h2 id="rate">&#8377 200</h2>
<button type="button" id="cartbutton">+ Add</button>
</div>

<div id="pizzas">
    <figure>
    <img src="/img/pizzacart.png" alt="pizza">
    </figure>
    <figcaption>
    <h4>Vegies pizza</h4>
    <h6>SMALL</h6>
</figcaption>
<h2 id="rate">&#8377 200</h2>
<button type="button" id="cartbutton">+ Add</button>
</div>

<div id="pizzas">
    <figure>
    <img src="/img/pizzacart.png" alt="pizza">
    </figure>
    <figcaption>
    <h4>Vegies pizza</h4>
    <h6>SMALL</h6>
</figcaption>
<h2 id="rate">&#8377 200</h2>
<button type="button" id="cartbutton">+ Add</button>
</div>

<div id="pizzas">
    <figure>
    <img src="/img/pizzacart.png" alt="pizza">
    </figure>
    <figcaption>
    <h4>Vegies pizza</h4>
    <h6>LARGE</h6>
</figcaption>
<h2 id="rate">&#8377 200</h2>
<button type="button" id="cartbutton">+ Add</button>
</div>










</section>
</section>
 <script src="/js/home.js"></script>   
</body>
</html>