.login-form{
    /* border: black 2px solid; */
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.login{
    /* border: black 2px solid; */
    box-shadow: 1px 1px 1px 1px grey;
    margin:10px 0px 10px 0px;
}
#password,#username{
    height: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(182, 181, 181);
    width: 270px;
    box-shadow: 0.4px 0.4px 0.4px rgb(128, 128, 128);
    /* border-color: rgb(235, 99, 99); */
}
label{
    font-family:sans-serif;
}
form{
    padding: 20px 28px 20px 28px;
}
input:focus {
    outline: none !important
}
#login-button{
    background-color: rgb(235, 99, 99);
    height: 30px;
    width: 70px;
    border-radius: 10px;
    color: rgb(243, 236, 236);
    padding: 3px 5px 3px 5px;
}
#register-form{
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
    color:rgb(235, 99, 99);
    font-size: 15px;
    font-weight:600;
}
#register-form:hover{
    color:rgb(211, 80, 80);
}