.empty-cart{
    margin-top: 50px;
    display: flex;
}
#imgempty{
    margin-top: 50px;
    height: 500px;
    width: 500px;
    display: flex;
    /* border: 2px solid black; */
}
.imgempty{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
     flex-wrap: wrap;
}
.buttoncart
{
    background-color: rgb(235, 99, 99);
    margin-top: 40px;
    color: whitesmoke;
}
.buttoncart:hover{
background-color: rgb(201, 64, 64);
transition: 0.6s;
}
body{
    /* height: 9000px; */
    background-color: rgb(255, 254, 254);
}
.paraempty{
    margin-top: 20px;
    font-family:Tahoma, sans-serif;
    color: rgb(122, 122, 122);
}
@media only screen and (max-width: 700px) { 
    #imgempty{
        margin-top: 50px;
        height: 300px;
        width: 300px;
        display: flex;
        /* border: 2px solid black; */
    }
   .paraempty{
    margin-top: 20px;
    font-size: 10px;
    font-family:Tahoma, sans-serif;
    color: rgb(122, 122, 122);
}
    .buttoncart {
        background-color: rgb(235, 99, 99);
        margin-top: 40px;
        height: 30px;
        font-size: 6px;
        padding: 12px 8px 6px 8px;
        width: 70px;
        color: whitesmoke;
    }

}